<p>{{ postArray }}</p>

<ul>
  <li>{{ postArray[0] }}</li>
  <li>{{ postArray[1] }}</li>
  <li>{{ postArray[2] }}</li>
  <li>{{ postArray[3] }}</li>
  <li>{{ postArray[4] }}</li>
  <li>{{ postArray[5] }}</li>
  <li>{{ postArray[6] }}</li>
</ul>
<!-- <div *ngFor="let post of postArray">
  {{ post }}
</div> -->
<p>Fetched Using ngFor Directive</p>
<ul>
  <li *ngFor="let post of postArray">{{ post }}</li>
</ul>

<p>Fetching Object Array</p>

<button (click)="addNew()">Add New Data</button>

<div *ngIf="objArray.length > 0; then postList; else noData"></div>

<ng-template #postList>
  <ul>
    <li *ngFor="let post of objArray; let i = index">
      {{ i }} {{ post.postTitle }}
      <button (click)="onDelete(i)">Delete</button>
    </li>
  </ul>
</ng-template>

<ng-template #noData>
  <p>There is no Data fetch ...</p>
</ng-template>

<div>
  <button (click)="onClick('step 1')">step 1</button>
  <button (click)="onClick('step 2')">step 2</button>
  <button (click)="onClick('step 3')">step 3</button>
</div>

<!-- <div >
  <div *ngIf="stepForm == 'step 1'">Step 1 Form</div>
  <div *ngIf="stepForm == 'step 2'">Step 2 Form</div>
  <div *ngIf="stepForm == 'step 3'">Step 3 Form</div>
</div> -->

<div [ngSwitch]="stepForm">
  <div *ngSwitchCase="'step 1'">Step 1 Form</div>
  <div *ngSwitchCase="'step 2'">Step 2 Form</div>
  <div *ngSwitchCase="'step 3'">Step 3 Form</div>
  <div *ngSwitchDefault>{{ stepForm }}</div>
</div>

<p>NgStyle Directive</p>
<h1
  [style.color]="isActive ? 'red' : 'black'"
  [style.textTransform]="isActive ? 'uppercase' : 'lowercase'"
>
  Angular Udemy Course
</h1>

<h1
  [ngStyle]="{
    color: isActive ? 'red' : 'black',
    textTransform: isActive ? 'uppercase' : 'lowercase'
  }"
>
  NgStyle Directive
</h1>
